#Dockerを全自動にするための命令書作成

[Unit]    #1【サービス全体の基本情報、起動する前提条件】


#1-1,DjangoをDockerで動かす自動起動設定の説明書き（名前）を付ける命令
Description=Django Docker Compose Application


#1-2,Docker自体が絶対に起動せよ」という強制的な依存関係を指定する命令
Requires=docker.service


#1-3,Dockerが完全起動『後』に →Djangoを起動しろ」という★順番を守れの命令
After=docker.service


[Service]  　#2,【Djangを『どう起動し、どう止めるか』の実行コマンド】

#2-1 起動コマンド（ExecStart）を1回実行したら、システム側の見張り業務はそこで完了とみなせ」の指示。
Type=oneshot


#2-2 コマンド実行後も、「Djangoは裏で動き続けるように」認識させ続ける命令。
RemainAfterExit=yes


#2-3 フォルダ(/var/www/django-appにdocker-compose.yml設計図がある)に移動後、起動コマンドを実行しろ」指示。
WorkingDirectory=/var/www/django-app


#2-4 Django起動『直前』に、「Linux側の古いNginxの停止」という前処理の命令。
ExecStartPre=/usr/bin/systemctl stop nginx


#2-5 Docker Composeを使用して、コンテナ（DjangoやNginxの部屋）の本番の起動命令。
ExecStart=/usr/local/bin/docker-compose up -d


#2-6 動いているコンテナ（工場）が停止した時の片付け命令。
ExecStop=/usr/local/bin/docker-compose down


[Install]　#3 【自動起動設定を、Linuxシステムのどのタイミングに組み込むか」(開始宣言)】

#3 Linuxの電源ON時、普通（マルチユーザーモード）の画面で、Djangoアプリも全自動起動させる」(常時自動起動の命令)。 
WantedBy=multi-user.target


